$gutter: 15px;
$gutterLarge: 25px;

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  &--top {
    align-items: flex-start;
  }

  &--bottom {
    align-items: flex-end;
  }

  &--flexCells > .grid-cell {
    display: flex;
  }

  &--center {
    align-items: center;
  }

  &--justifyCenter {
    justify-content: center;
  }

  &--fit > .grid-cell {
    flex: 1;
  }
  
  &--full  > .grid-cell {
    flex: 0 0 100%;
  }
  
  &--1of2  > .grid-cell {
    flex: 0 0 50%;
  }
  
  &--1of3  > .grid-cell {
    flex: 0 0 33.3333%;
  }
  
  &--1of4  > .grid-cell {
    flex: 0 0 25%;
  }
}

.grid-cell {
  flex: 1;

  &--top {
    align-self: flex-start;
  }

  &--bottom {
    align-self: flex-end;
  }

  &--center {
    align-self: center;
  }

  &--autoSize {
    flex: none;
  }

  &--1of2 {
    flex: 0 0 50%;
  }
  
  &--1of3{
    flex: 0 0 33.3333%;
  }
  
  &--1of4 {
    flex: 0 0 25%;
  }
}

@media (max-width: $break-mobile) {
  .small-grid--fit > .grid-cell {
    flex: 1;
  }

  .small-grid--full > .grid-cell {
    flex: 0 0 100%;
  }

  .small-grid--1of2 > .grid-cell {
    flex: 0 0 50%;
  }

  .small-grid--1of3 > .grid-cell {
    flex: 0 0 33.3333%;
  }

  .small-grid--1of4 > .grid-cell {
    flex: 0 0 25%;
  }
}

@media (max-width: $break-tablet) {
  .med-grid--fit >  .grid-cell {
    flex: 1;
  }

  .med-grid--full > .grid-cell {
    flex: 0 0 100%;
  }

  .med-grid--1of2 > .grid-cell {
    flex: 0 0 50%;
  }

  .med-grid--1of3 > .grid-cell {
    flex: 0 0 33.3333%;
  }

  .med-grid--1of4 > .grid-cell {
    flex: 0 0 25%;
  }
}

@media (max-width: $break-min-desktop) {
  .large-grid--fit > .grid-cell {
    flex: 1;
  }

  .large-grid--full > .grid-cell {
    flex: 0 0 100%;
  }

  .large-grid--1of2 > .grid-cell {
    flex: 0 0 50%;
  }

  .large-grid--1of3 > .grid-cell {
    flex: 0 0 33.3333%;
  }

  .large-grid--1of4 > .grid-cell {
    flex: 0 0 25%;
  }
}

.grid--gutters {
  margin: -$gutter 0 $gutter -$gutter;
}

.grid--gutters > .grid-cell {
  padding: $gutter 0 0 $gutter;
}

.grid--guttersLg {
  margin: -$gutterLarge 0 gutterLarge -gutterLarge;
}

.grid--guttersLg > .grid-cell {
  padding: gutterLarge 0 0 gutterLarge;
}

.grid--guttersXl {
  margin: -($gutter * 2) 0 ($gutter * 2) -($gutter * 2);
}

.grid--guttersXl > .grid-cell {
  padding: ($gutter * 2) 0 0 ($gutter * 2);
}

@media (--break-sm) {
  .small-grid--gutters {
    margin: -$gutter 0 $gutter -$gutter;
  }

  .small-grid--gutters > .grid-cell {
    padding: $gutter 0 0 $gutter;
  }

  .small-grid--guttersLg {
    margin: -$gutterLarge 0 $gutterLarge -$gutterLarge;
  }

  .small-grid--guttersLg > .grid-cell {
    padding: $gutterLarge 0 0 $gutterLarge;
  }

  .small-grid--guttersXl {
    margin: -($gutter * 2) 0 ($gutter * 2) -($gutter * 2);
  }

  .small-grid--guttersXl > .grid-cell {
    padding: ($gutter * 2) 0 0 ($gutter * 2);
  }
}

@media (--break-md) {
  .med-grid--gutters {
    margin: -$gutter 0 $gutter -$gutter;
  }

  .med-grid--gutters > .grid-cell {
    padding: $gutter 0 0 $gutter;
  }

  .med-grid--guttersLg {
    margin: -$gutterLarge 0 $gutterLarge -$gutterLarge;
  }

  .med-grid--guttersLg > .grid-cell {
    padding: $gutterLarge 0 0 $gutterLarge;
  }

  .med-grid--guttersXl {
    margin: -($gutter * 2) 0 ($gutter * 2) -($gutter * 2);
  }

  .med-grid--guttersXl > .grid-cell {
    padding: ($gutter * 2) 0 0 ($gutter * 2);
  }
}

@media (--break-lg) {
  .large-grid--gutters {
    margin: -$gutter 0 $gutter -$gutter;
  }

  .large-grid--gutters > .grid-cell {
    padding: $gutter 0 0 $gutter;
  }

  .large-grid--guttersLg {
    margin: -$gutterLarge 0 $gutterLarge -$gutterLarge;
  }

  .large-grid--guttersLg > .grid-cell {
    padding: $gutterLarge 0 0 $gutterLarge;
  }

  .large-grid--guttersXl {
    margin: -($gutter * 2) 0 ($gutter * 2) -($gutter * 2);
  }

  .large-grid--guttersXl > .grid-cell {
    padding: ($gutter * 2) 0 0 ($gutter * 2);
  }
}