

.color-input {
    width: 50px;
    height: 20px;
    margin-top: 4px;
    margin-right: 5px;
    float: left;
    border: 1px solid #a8a8a8;

    @media screen and (max-width: $break-tablet) {
        width: 100%;
    }
}

.no-font {
}