/** 
 *  Standard Content 
 */

 .standard-content {

    color: $text-on-dark;

    .standard-content-container {
        @include container();
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        max-width: 960px;
    }

    &__wrapper{
        width: 100%;
        padding: 0px 20px;
    }

    p{
        margin: 10px 0;
    }

    ol {
        display: block;
        list-style-type: decimal;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        list-style-type: decimal;
    }
}