
@-webkit-keyframes hoverBounce {
    0%,100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    50% {
        -webkit-transform: translate3d(0,-3px,0);
        transform: translate3d(0,-3px,0)
    }
}

@keyframes hoverBounce {
    0%,100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    50% {
        -webkit-transform: translate3d(0,-3px,0);
        transform: translate3d(0,-3px,0)
    }
}
