/** 
 *  UTIL
 */

.rela-block {
    display: block;
    position: relative;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.drop-level-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.drop-level-2 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.drop-level-2:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.no-font {
    font-size: 0px !important;
}