/** 
 *  VARIABLES
 */

// global colors
$bg-color: #282828;
//$bg-color: #3C404D;

$content: #fff;

$primary: #FCD577;
$secondary: #1a1b1a;
$third: #282828;

$text-on-dark: #fff;
$text-on-light: $secondary;

/* Screen vars */
$break-mobile: 380px;
$break-tablet: 630px;
$break-min-desktop: 1000px;
$break-desktop: 1300px;