// load vendor
@import './vendor/glob';

// load helpers
@import './helpers/glob';

// load base
@import './base/glob';

// load components
@import './components/glob';




.color-input {
    width: 50px;
    height: 20px;
    margin-top: 4px;
    margin-right: 5px;
    float: left;
    border: 1px solid #a8a8a8;

    @media screen and (max-width: $break-tablet) {
        width: 100%;
    }
}